<?xml version="1.0"?>
<!--
/**
 * @author Sigma
 * @copyright Copyright © 2020 Sigma. All rights reserved.
 * @package Sigma_Core
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Sigma_PriorityDeliveryGraphql" setup_version="1.0.0">
    </module>
</config>
